@page "/"

<h1>Hello, worsdada!</h1>
<MudAlert
          Severity="Severity.Info"
          Variant="Variant.Outlined"
          Square="true"
          Class="my-2">The reasdasactor was fired up ciaoasdad
</MudAlert>

Welcome to your new app.